[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twikit = "=1.7.6"
fastapi = ">=0.99.0"
pydantic = ">=1.10.9"
mangum = ">=0.17.0"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
uvicorn = "*"

[requires]
python_version = "3.11"
