[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twikit = "*"
fastapi = "*"
mangum = "*"
pydantic = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"
uvicorn = "*"

[requires]
python_version = "3.11"
